body {
    background: rgba(214, 226, 249, 1);
    font-family: "Georgia", serif;
}
h1 {
    text-align: center;
}

button {
    font-family: "Georgia", serif;
}

td {
    padding: 0.5em;
}

.container {
    padding: calc(8px + 1.5625vw);
    background: rgba(141, 177, 227, 1);
}

.tableContainer {
    padding: calc(8px + 1.5625vw);
    background: rgba(141, 177, 227, 1);
    table-layout: fixed;
}

.pad {
    padding: calc(8px + 1.5625vw);
}

.float {
    float: left;
    margin-right:10px;
}

.center {
    text-align:center;
}

.shortTable {
    width: 30%;
}

.longTable {
    width: 60%;
}

.fill {
    width: 100%;
}