body {
    background: rgba(214, 226, 249, 1);
    font-family: "Georgia", serif;
}

button {
    font-family: "Georgia", serif;
}

.container {
    padding: calc(8px + 1.5625vw);
    background: rgba(141, 177, 227, 1);
}

.tableContainer {
    padding: calc(8px + 1.5625vw);
    background: rgba(141, 177, 227, 1);
    border-spacing: 10px;
}

.pad {
    padding: calc(8px + 1.5625vw);
}

.floatTable {
    float: left;
    margin-right:10px;
}

.center {
    text-align:center;
}